@font-face {
    font-family: ProximaNovaBlack;
    src: url(../Font/proxima_ssv/Proxima-Nova-Black.otf);
}

@font-face {
    font-family: ProximaNovaBold;
    src: url(../Font/proxima_ssv/Proxima-Nova-Bold.otf);
}

@font-face {
    font-family: ProximaNovaBlack;
    src: url(../Font/proxima_ssv/Proxima-Nova-Black.otf);
}

@font-face {
    font-family: ProximaNovaExtraBold;
    src: url(../Font/proxima_ssv/Proxima-Nova-Extrabold.otf);
}

@font-face {
    font-family: ProximaNovaSemiBold;
    src: url(../Font/proxima_ssv/Proxima-Nova-Semibold.otf);
}

@font-face {
    font-family: Proxima;
    src: url(../Font/proxima_ssv/ProximaNova-Regular.otf);
}

@font-face {
    font-family: GilroyExtraBold;
    src: url(../Font/Gilroy-FREE/Gilroy-FREE/Gilroy-ExtraBold.otf);
}

@font-face {
    font-family: GilroyBold;
    src: url(../Font/Gilroy-FREE/Gilroy-FREE/Gilroy-Bold.ttf);
}

@font-face {
    font-family: GilroySemiBold;
    src: url(../Font/Gilroy-FREE/Gilroy-FREE/Gilroy-Semibold.ttf);
}

@font-face {
    font-family: GilroyMedium;
    src: url(../Font/Gilroy-FREE/Gilroy-FREE/Gilroy-Medium.ttf);
}

@font-face {
    font-family: GilroyLight;
    src: url(../Font/Gilroy-FREE/Gilroy-FREE/Gilroy-Light.otf);
}

body, html {
    width: 100%;
    height: 100%;
    overflow-x: hidden;
    background-color: #FAF9F6 !important;
}

#__next {
    height: 100%;
    background-color: #FAF9F6;
}

.conNav, .navbar {
    background-color: #FAF9F6 !important;
}

.imgBglogo {
    position: absolute;
    top: -20px;
    left: -65px;
    width: 500px;
    z-index: 99999;
}

.imglogo {
    z-index: 9;
}

.nav-link {
    font-family: "ProximaNovaSemiBold";
    margin-left: 25px;
    cursor: pointer;
}

#activeNav {
    text-shadow: 0px 0.5px, 0.5px 0px, 0.5px 0.5px;
    font-weight: bolder;
}

.nav-link {
    text-transform: uppercase;
    text-decoration: none;
    display: inline-block;
    padding: 15px 20px;
    position: relative;
}

.nav-link:after {
    background: none repeat scroll 0 0 transparent;
    bottom: 0;
    content: "";
    display: block;
    height: 2px;
    left: 50%;
    position: absolute;
    background: #298125;
    transition: width 0.3s ease 0s, left 0.3s ease 0s;
    width: 0;
}

.nav-link:hover:after {
    width: 100%;
    left: 0;
}

.p1 {
    font-family: 'Playfair Display', serif;
    color: #298125;
    font-size: 3.5rem;
    line-height: normal;
}

.p2 {
    font-family: "Proxima";
    color: #185515;
    font-size: 1.1rem;
    line-height: normal;
}

.btnLearn {
    font-family: "ProximaNovaSemiBold";
    margin-top: 20px;
    color: white;
    background-color: #298125;
    padding: 10px;
    width: 250px;
    border: 0px;
    border-radius: 25px;
    box-shadow: 0 2px 12px -6px #298125 !important;
    cursor: pointer;
    transition: all 0.2s;
    letter-spacing: 1px;
    outline: none !important;
}

.imgCon {
    position: absolute;
    left: 45%;
    height: 70%;
    top: 15%;
    width: 65%;
}

.imgCapsule {
    position: absolute;
    left: 40%;
    width: 300px;
    top: 70%;
    z-index: 9;
}

.imgCoconut {
    position: absolute;
    left: 68%;
    width: 200px;
    top: 85%;
}

.imgLeave {
    position: absolute;
    right: 0px;
    width: 25%;
    bottom: 0px;
}

.con2 {
    padding-top: 70px;
}

.pCon2 {
    font-family: 'Playfair Display', serif;
    color: #298125;
    font-size: 3rem;
    text-align: center;
    line-height: normal;
}

.pImage {
    font-family: "ProximaNovaSemiBold";
    color: #185515;
    line-height: normal;
    text-align: center;
    margin-top: 25px;
}

.imgLeafleft {
    width: 140% !important;
}

.pCon3 {
    font-family: 'Playfair Display', serif;
    color: #298125;
    font-size: 3rem;
}

.pCon3Sub {
    font-family: "Proxima";
    color: #185515;
    font-size: 1.1rem;
    line-height: normal;
}

.pCon4 {
    font-family: "ProximaNovaBold";
    color: #298125;
    font-size: 4rem;
}

.pInfo {
    font-family: "Raleway";
    color: #185515;
    line-height: normal;
    font-size: 1.2rem;
    font-weight: 600;
    margin-top: 10px;
    margin-left: 15px;
}

.txtInfo {
    font-family: "Raleway";
    color: #212121;
    background-color: white;
    border: 0px;
    padding: 15px;
    width: 100%;
    box-shadow: 0 2px 12px -6px lightgray !important;
    outline: #298125 !important;
    border-radius: 8px;
    margin-bottom: 25px;
}

#w3review {
    font-family: "Raleway";
    color: #212121;
    background-color: white;
    border: 0px;
    padding: 15px;
    width: 100%;
    box-shadow: 0 2px 12px -6px lightgray !important;
    outline: #298125 !important;
    border-radius: 8px;
    margin-bottom: 25px;
}

@supports (-webkit-backdrop-filter: none) or (backdrop-filter: none) {
    #w3review {
        -webkit-backdrop-filter: blur(10px);
        backdrop-filter: blur(10px);
        background-color: rgba(255, 255, 255, 0.5);
    }
}

.btnSubmit {
    font-family: "ProximaNovaSemiBold";
    margin-top: 20px;
    color: white;
    background-color: #298125;
    padding: 10px;
    width: 175px;
    border: 0px;
    float: right;
    border-radius: 25px;
    box-shadow: 0 2px 12px -6px #298125 !important;
    cursor: pointer;
    transition: all 0.2s;
    letter-spacing: 1px;
}

.imgCon3left {
    position: absolute;
    bottom: -270px;
    width: 50%;
    left: -80px;
}

.imgCon3 {
    position: absolute;
    bottom: 0px;
    width: 55%;
    right: -100px;
}

.conFooter {
    background-color: #F5F3EF;
    padding: 40px 10px;
}

.ulFooter {
    display: inline-block;
    list-style-type: none;
    overflow: hidden;
    margin: 0 auto !important;
    width: max-content;
}

.ulFooter li {
    float: left;
    width: max-content;
}

.ulFooter li a {
    font-family: "ProximaNovaSemiBold";
    display: block;
    padding: 10px;
    color: #185515;
    cursor: pointer;
    text-align: center;
    width: max-content;
}

.txtSearchFooter {
    font-family: "Raleway";
    color: #298125;
    background-color: white !important;
    background: url('../Image/search.png') left center no-repeat;
    border: 0px;
    padding: 10px;
    padding-left: 35px;
    width: 100%;
    box-shadow: 0 2px 12px -6px lightgray !important;
    outline: #298125 !important;
    border-radius: 25px;
    background-size: 18px;
    background-position: 10px;
}

.pPriceShop {
    font-family: "Proxima";
    color: #298125;
    font-size: 1.8rem;
    margin-top: -5px;
    margin-bottom: 5px;
}

.btnCapsule {
    font-family: "Proxima";
    color: #298125;
    font-size: 1.1rem;
    background-color: transparent;
    border: 1px solid #298125;
    padding: 8px;
    width: 170px;
    text-align: center;
    border-radius: 25px;
    margin-right: 10px;
    box-shadow: 0 2px 12px -6px #298125 !important;
    cursor: pointer;
    outline: none !important;
    transition: all 0.2s
}

.btnaddCart {
    font-family: "Proxima";
    color: #298125;
    font-size: 1.1rem;
    background-color: transparent;
    border: 1px solid #298125;
    padding: 8px;
    width: 170px;
    text-align: center;
    margin-top: 10px;
    border-radius: 25px;
    margin-right: 10px;
    outline: none !important;
    box-shadow: 0 2px 12px -6px #298125 !important;
    cursor: pointer;
    transition: all 0.2s
}

.pShop {
    font-family: "Proxima";
    font-size: 0.9rem;
    color: #298125;
    font-weight: 600;
}

.box2Shop {
    display: none;
}

.pAbout {
    font-family: 'Playfair Display', serif;
    color: #298125;
    font-size: 2.5rem;
}

.pAboutSub {
    font-family: "Proxima";
    color: #298125;
    font-size: 1.1rem;
    width: 600px;
    margin: 0 auto;
}