@font-face {
    font-family: ProximaNovaBlack;
    src: url(../Font/proxima_ssv/Proxima-Nova-Black.otf);
}

@font-face {
    font-family: ProximaNovaBold;
    src: url(../Font/proxima_ssv/Proxima-Nova-Bold.otf);
}

@font-face {
    font-family: ProximaNovaBlack;
    src: url(../Font/proxima_ssv/Proxima-Nova-Black.otf);
}

@font-face {
    font-family: ProximaNovaExtraBold;
    src: url(../Font/proxima_ssv/Proxima-Nova-Extrabold.otf);
}

@font-face {
    font-family: ProximaNovaSemiBold;
    src: url(../Font/proxima_ssv/Proxima-Nova-Semibold.otf);
}

@font-face {
    font-family: Proxima;
    src: url(../Font/proxima_ssv/ProximaNova-Regular.otf);
}

@font-face {
    font-family: GilroyExtraBold;
    src: url(../Font/Gilroy-FREE/Gilroy-FREE/Gilroy-ExtraBold.otf);
}

@font-face {
    font-family: GilroyBold;
    src: url(../Font/Gilroy-FREE/Gilroy-FREE/Gilroy-Bold.ttf);
}

@font-face {
    font-family: GilroySemiBold;
    src: url(../Font/Gilroy-FREE/Gilroy-FREE/Gilroy-Semibold.ttf);
}

@font-face {
    font-family: GilroyMedium;
    src: url(../Font/Gilroy-FREE/Gilroy-FREE/Gilroy-Medium.ttf);
}

@font-face {
    font-family: GilroyLight;
    src: url(../Font/Gilroy-FREE/Gilroy-FREE/Gilroy-Light.otf);
}

body, html {
    width: 100%;
    height: 100%;
    overflow-x: hidden;
    background-color: #FAF9F6 !important;
}

.divFooter {
    display: none;
}

#__next {
    height: 100%;
    background-color: #FAF9F6;
}

.conNav, .navbar {
    background-color: #FFF9E3 !important;
}

.imgBglogo {
    position: absolute;
    top: -20px;
    left: -65px;
    width: 500px;
    z-index: 99999;
}

.imglogo {
    z-index: 999999999;
    position: relative;
}

.nav-link {
    font-family: "ProximaNovaSemiBold";
    margin-left: 25px;
    cursor: pointer;
    letter-spacing: 1.5px;
}

#activeNav {
    text-shadow: 0px 0.5px, 0.5px 0px, 0.5px 0.5px;
    font-weight: bolder;
}

.nav-link {
    text-transform: uppercase;
    text-decoration: none;
    display: inline-block;
    padding: 15px 20px;
    position: relative;
}

.nav-link:after {
    background: none repeat scroll 0 0 transparent;
    bottom: 0;
    content: "";
    display: block;
    height: 2px;
    left: 50%;
    position: absolute;
    background: #298125;
    transition: width 0.3s ease 0s, left 0.3s ease 0s;
    width: 0;
}

.nav-link:hover:after {
    width: 100%;
    left: 0;
}

.p1 {
    font-family: 'Playfair Display', serif;
    color: #298125;
    font-size: 3.5rem;
    line-height: 1.7ch;
}

.p2 {
    font-family: "Proxima";
    color: #185515;
    font-size: 1.1rem;
    line-height: normal;
}

.conMain {
    background-image: url('../Image/textu2re.png');
    background-repeat: repeat;
    position: relative;
}

.conLine {
    position: absolute;
    bottom: 15px;
    margin-left: auto;
    margin-right: auto;
    left: 0;
    right: 0;
    text-align: center;
    display: none;
}

.hr1 {
    background-color: #298125;
    height: 2px;
    width: 80%;
    text-align: right;
    margin-right: 0;
}

.hr2 {
    background-color:  #298125;
    height: 2px;
    width: 80%;
    text-align: left;
    margin-left: 0;
}

.btnLearn {
    font-family: "ProximaNovaSemiBold";
    margin-top: 20px;
    color: white;
    background-color: #298125;
    padding: 10px 50px;
    width: auto;
    border: 0px;
    border-radius: 25px;
    box-shadow: 0 2px 12px -6px #298125 !important;
    cursor: pointer;
    transition: all 0.2s;
    letter-spacing: 1px;
    outline: none !important;
    margin: 0 auto;
    display: block;
}

.imgCon {
    position: absolute;
    left: 45%;
    height: 70%;
    top: 15%;
    width: 65%;
}

.imgCapsule {
    position: absolute;
    left: 40%;
    width: 300px;
    top: 70%;
    z-index: 9;
}

.imgCoconut {
    position: absolute;
    left: 68%;
    width: 200px;
    top: 85%;
}

.divRightimage {
    position: relative;
}

.imgMercury {
    width: 30%; 
    margin-right: 15px;
    
}

.imgIcon1 {
    width: 50px;
    position: absolute;
    bottom: 0px;
    right: 0px;
}

.imgLeave {
    position: absolute;
    right: -65px;
    width: 25%;
    bottom: -140px;
}

.imgLeaveleft {
    position: absolute;
    left: -65px;
    width: 25%;
    bottom: -140px;
}

.con2 {
    padding-top: 70px;
    margin-top: 55px;
}

.conWhy {
    border: 2px solid #185515;
    border-radius: 8px;
    padding-top: 20px;
    padding-bottom: 20px;
}

.pCon2 {
    font-family: 'Playfair Display', serif;
    color: #298125;
    font-size: 3rem;
    text-align: center;
    line-height: normal;
}

.pImage {
    font-family: "ProximaNovaSemiBold";
    color: #185515;
    line-height: normal;
    text-align: center;
    margin-top: 25px;
}

.imgLeafleft {
    width: 140% !important;
}

.pCon3 {
    font-family: 'Playfair Display', serif;
    color: #298125;
    font-size: 3rem;
}

.pCon3Sub {
    font-family: "Proxima";
    color: #185515;
    font-size: 1.1rem;
    line-height: normal;
}

.pCon4 {
    font-family: 'Playfair Display', serif;
    color: #298125;
    font-size: 2rem;
}

.pInfo {
    font-family: "Raleway";
    color: #185515;
    line-height: normal;
    font-size: 1.2rem;
    font-weight: 600;
}

.txtInfo {
    font-family: "Raleway";
    color: #212121;
    background-color: white;
    border: 1px solid transparent;
    padding: 15px;
    width: 100%;
    box-shadow: 0 2px 12px -6px lightgray !important;
    outline: #298125 !important;
    border-radius: 8px;
    margin-bottom: 25px;
}

#w3review {
    font-family: "Raleway";
    color: #212121;
    background-color: white;
    border: 0px;
    padding: 15px;
    width: 100%;
    box-shadow: 0 2px 12px -6px lightgray !important;
    outline: #298125 !important;
    border-radius: 8px;
    margin-bottom: 25px;
}

@supports (-webkit-backdrop-filter: none) or (backdrop-filter: none) {
    #w3review {
        -webkit-backdrop-filter: blur(10px);
        backdrop-filter: blur(10px);
        background-color: rgba(255, 255, 255, 0.5);
    }
}

.btnSubmit {
    font-family: "ProximaNovaSemiBold";
    margin-top: 20px;
    color: white;
    background-color: #298125;
    padding: 10px;
    width: 175px;
    border: 0px;
    float: right;
    border-radius: 25px;
    box-shadow: 0 2px 12px -6px #298125 !important;
    cursor: pointer;
    outline: none !important;
    transition: all 0.2s;
    letter-spacing: 1px;
    position: relative;
}

.imgCon3left {
    position: absolute;
    bottom: -270px;
    width: 50%;
    left: -80px;
}

.imgCon3 {
    position: absolute;
    bottom: 0px;
    width: 55%;
    right: -100px;
}

.conFooter {
    background-color: #F5F3EF;
    padding: 40px 10px;
}

.ulFooter {
    display: inline-block;
    list-style-type: none;
    overflow: hidden;
    margin: 0 auto !important;
    width: max-content;
}

.ulFooter li {
    float: left;
    width: max-content;
}

.ulFooter li a {
    font-family: "ProximaNovaSemiBold";
    display: block;
    padding: 10px;
    color: #185515;
    cursor: pointer;
    text-align: center;
    width: max-content;
}

.txtSearchFooter {
    font-family: "Raleway";
    color: #298125;
    background-color: white !important;
    background: url('../Image/search.png') left center no-repeat;
    border: 0px;
    padding: 10px;
    padding-left: 35px;
    width: 100%;
    box-shadow: 0 2px 12px -6px lightgray !important;
    outline: #298125 !important;
    border-radius: 25px;
    background-size: 18px;
    background-position: 10px;
}

.pPriceShop {
    font-family: "Proxima";
    color: #298125;
    font-size: 1.8rem;
    margin-top: -5px;
    margin-bottom: 5px;
}

.btnCapsule {
    font-family: "Proxima";
    color: #298125;
    font-size: 1.1rem;
    background-color: transparent;
    border: 1px solid #298125;
    padding: 8px;
    width: 170px;
    text-align: center;
    border-radius: 25px;
    margin-right: 10px;
    box-shadow: 0 2px 12px -6px #298125 !important;
    cursor: pointer;
    outline: none !important;
    transition: all 0.2s
}

.btnaddCart {
    font-family: "Proxima";
    color: #298125;
    font-size: 1.1rem;
    background-color: transparent;
    border: 1px solid #298125;
    padding: 8px;
    width: 170px;
    text-align: center;
    margin-top: 10px;
    border-radius: 25px;
    margin-right: 10px;
    outline: none !important;
    box-shadow: 0 2px 12px -6px #298125 !important;
    cursor: pointer;
    transition: all 0.2s
}

.pShop {
    font-family: "Proxima";
    font-size: 0.9rem;
    color: #298125;
    font-weight: 600;
}

.box2Shop {
    display: none;
}

.pAbout {
    font-family: 'Playfair Display', serif;
    color: #298125;
    font-size: 2.5rem;
}

.pAboutSub {
    font-family: "Proxima";
    color: #298125;
    font-size: 1.1rem;
    width: 100%;
    margin: 0 auto;
    text-align: justify;
}

.imgBgabout {
    position: absolute;
    top: 10%;
    left: 0;
    width: 120%;
    left: -15%;
    height: 90%;
}

.imgLeafabout1 {
    position: absolute;
    width: 28%;
    bottom: 20%;
    right: -40%;
    z-index: 999;
}

.imgLeafabout2 {
    position: absolute;
    width: 25%;
    top: 0%;
    left: -20%;
    z-index: 999;
}

.imgCoconutabout1 {
    position: absolute;
    width: 20%;
    bottom: 20%;
    right: 1%;
    z-index: 9999;
}

.imgCoconutabout2 {
    position: absolute;
    width: 20%;
    bottom: 20%;
    left: 1%;
    z-index: 9999;
}

.divCirclecart {
    width: 70px;
    height: 70px;
    border-radius: 50%;
    background-color: #298125;
    margin-top: 10;
}

.divCirclecart img {
    position: relative;
    /* where the next element will be automatically positioned */
    display: inline-block;
    /* causes element width to shrink to fit content */
    left: 50%;
    top: 25%;
    width: 25px;
    /* moves left side of image/element to center of parent element */
    transform: translate(-50%);
}

.divLine {
    width: 2px;
    height: 55px;
    background-color: lightgray;
    margin-left: 32px;
}

.pItem {
    font-family: "Proxima";
    font-weight: 600;
    color: #185515;
    margin-bottom: 0px;
}

.pPrice {
    font-family: "Proxima";
    color: #185515;
    margin-bottom: 0px;
    font-weight: 600;
    margin-top: 15px;
    text-align: center;
}

.pItemsub {
    font-family: "Proxima";
    color: #185515;
    margin-bottom: 0px;
}

.divCirclecartnumber {
    width: 50px;
    height: 50px;
    border-radius: 50%;
    background-color: lightgray;
    margin-top: 10;
    margin-left: 10px;
}

.divCirclecartnumber p {
    font-family: "Proxima";
    color: gray;
    font-size: 1.1rem;
    position: relative;
    /* where the next element will be automatically positioned */
    display: inline-block;
    /* causes element width to shrink to fit content */
    left: 38%;
    top: 25%;
    /* moves left side of image/element to center of parent element */
}

.btnMinus {
    font-family: "Proxima";
    color: #185515;
    font-size: 1.5rem;
    border: 0px;
    padding: 2px;
    background-color: transparent;
    margin: 0px 5px;
}

th {
    font-family: "ProximaNovaBold";
    font-size: 1.1rem;
    text-align: center !important;
    color: #185515;
}

tr {
    padding-bottom: 25px !important;
    border-bottom: 30px solid transparent;
}

.btnPlus {
    font-family: "Proxima";
    color: #185515;
    font-size: 1.5rem;
    border: 0px;
    padding: 2px;
    background-color: transparent;
    margin: 0px 8px;
}

.pQuantity {
    font-family: "Proxima";
    color: #185515;
    font-size: 1rem;
    padding: 0px 22px;
    border-right: 1px solid lightgray;
    border-left: 1px solid lightgray;
}

.pTotal {
    font-family: "Proxima";
    color: #185515;
    font-weight: 600;
    text-align: center;
    margin-top: 15px;
}

.hrTable {
    width: 150px;
    background-color: #185515;
    margin-right: 0;
}

.pTotalprice {
    font-family: "Proxima";
    color: #185515;
    font-weight: 600;
    text-align: right !important;
    width: 100%;
    padding-right: 60px;
}

.pVoucher {
    font-family: "Proxima";
    color: #185515;
    font-weight: 600;
    font-size: 1.2rem;
    margin-right: 20px;
    margin-top: 15px;
}

.txtVoucher {
    font-family: "Proxima";
    color: #298125;
    font-size: 0.9rem;
    width: 60%;
    padding: 10px;
    border: 0px;
    box-shadow: 0 2px 12px -6px gray !important;
    border-radius: 8px;
}

.p3 {
    font-family: "Proxima";
    color: #185515;
    font-weight: 600;
    font-size: 1.2rem;
    margin-right: 20px;
    margin-top: 15px;
    text-align: right;
    width: 100%;
}

.pShippingfee {
    font-family: "Proxima";
    color: #185515;
    text-align: right;
}

.btnProceed {
    font-family: "ProximaNovaSemiBold";
    margin-top: 20px;
    color: white;
    background-color: #298125;
    padding: 8px;
    width: 175px;
    border: 0px;
    float: right;
    border-radius: 10px;
    box-shadow: 0 2px 12px -6px #298125 !important;
    cursor: pointer;
    outline: none !important;
    transition: all 0.2s;
    letter-spacing: 1px;
}

.conShip {
    display: none;
}

.rowCardDetails {
    margin-top: 10px;
}

.btnProceed1 {
    font-family: "ProximaNovaSemiBold";
    margin-top: 20px;
    color: white;
    background-color: #298125;
    padding: 8px;
    width: 175px;
    border: 0px;
    border-radius: 10px;
    box-shadow: 0 2px 12px -6px #298125 !important;
    cursor: pointer;
    outline: none !important;
    transition: all 0.2s;
    letter-spacing: 1px;
}

.boxShip {
    background-color: white;
    width: 100%;
    box-shadow: 0 2px 12px -6px gray!important;
    padding: 30px;
    border-radius: 20px;
}

.pTitlebox {
    font-family: "GilroyBold";
    color: #298125;
    font-size: 1.1rem;
}

.pTitleboxsub {
    font-family: "Raleway";
    font-weight: bold;
    color: #185515;
    font-size: 1rem;
    margin-bottom: 0px;
}

.pBoxSub {
    font-family: "GilroyMedium";
    color: #298125;
    font-size: 1rem;
    margin-bottom: 0px;
}

.cbx {
    -webkit-user-select: none;
    user-select: none;
    -webkit-tap-highlight-color: transparent;
    cursor: pointer;
}

.cbx span {
    display: inline-block;
    vertical-align: middle;
    transform: translate3d(0, 0, 0);
}

.cbx span:first-child {
    position: relative;
    width: 24px;
    height: 24px;
    border-radius: 50%;
    transform: scale(1);
    vertical-align: middle;
    border: 1px solid #B9B8C3;
    transition: all 0.2s ease;
}

.cbx span:first-child svg {
    position: absolute;
    z-index: 1;
    top: 8px;
    left: 6px;
    fill: none;
    stroke: white;
    stroke-width: 2;
    stroke-linecap: round;
    stroke-linejoin: round;
    stroke-dasharray: 16px;
    stroke-dashoffset: 16px;
    transition: all 0.3s ease;
    transition-delay: 0.1s;
    transform: translate3d(0, 0, 0);
}

.cbx span:first-child:before {
    content: "";
    width: 100%;
    height: 100%;
    background: #506EEC;
    display: block;
    transform: scale(0);
    opacity: 1;
    border-radius: 50%;
    transition-delay: 0.2s;
}

.cbx span:last-child {
    margin-left: 8px;
}

.cbx:hover span:first-child {
    border-color: #3c53c7;
}

.inp-cbx:checked+.cbx span:first-child {
    border-color: #3c53c7;
    background: #3c53c7;
    animation: check 0.6s ease;
}

.inp-cbx:checked+.cbx span:first-child svg {
    stroke-dashoffset: 0;
}

.inp-cbx:checked+.cbx span:first-child:before {
    transform: scale(2.2);
    opacity: 0;
    transition: all 0.6s ease;
}

.inp-cbx:checked+.cbx span:last-child {
    color: #B9B8C3;
    transition: all 0.3s ease;
}

.inp-cbx:checked+.cbx span:last-child:after {
    transform: scaleX(1);
    transition: all 0.3s ease;
}

@keyframes check {
    50% {
        transform: scale(1.2);
    }
}

.chkBox {
    position: absolute;
    right: 15px;
    top: 15px;
}

.boxCod {
    background-color: white;
    width: 100%;
    border: 2px solid white;
    box-shadow: 0 2px 12px -6px gray!important;
    padding: 35px;
    border-radius: 20px;
    position: relative;
    cursor: pointer;
    transition: all 0.2s;
}

.boxCod:hover {
    border: 2px solid #298125;
    box-shadow: 0 2px 12px -6px #298125!important;
}

.pCash {
    font-family: "GilroyMedium";
    color: #298125;
    text-align: center;
    margin-bottom: 0px;
    margin-top: 15px;
}

.pDiscount {
    font-family: "GilroyMedium";
    color: #298125;
    font-size: 1rem;
    margin-bottom: 0px;
    border: 1px #298125 dashed;
    border-radius: 8px;
    padding: 5px;
    padding-left: 10px;
}

.boxCarddetails {
    background-color: white;
    width: 100%;
    box-shadow: 0 2px 12px -6px gray!important;
    padding: 20px;
    border-radius: 20px;
}

.pCardInfo {
    font-family: "GilroyBold";
    color: #495A1D;
    font-size: 0.9rem;
    margin-bottom: 5px;
}

.txtCard {
    font-family: "GilroyMedium";
    font-size: 0.9rem;
    width: 100%;
    background-color: #EFF0EC;
    border: 0px;
    border-radius: 10px;
    padding: 8px;
    margin-bottom: 10px;
}

.txtDatecard {
    font-family: "GilroyMedium";
    font-size: 0.9rem;
    width: 50px;
    background-color: #EFF0EC;
    border: 0px;
    border-radius: 10px;
    padding: 8px;
    margin-bottom: 10px;
    margin-left: 10px;
}